:root {
  --theme-color: #1877f2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.container {
  padding-bottom: 232px;
  padding-top: 92px;
  min-width: 500px;
  display:flex;
  justify-content: center;
}

.content-wrapper {
  margin: 0 40px;
}

.account .content {
  display: flex;
  justify-content: space-between;  
}

.account .content .facebook-about {
  width: 50%;
}

.account .content .facebook-about .facebook-img {
  padding: 112px 0 16px;
}

.account .content .facebook-about .facebook-img img{
  height: 106px;
  margin: -28px;
}

.account .content .facebook-about p {
  font-size: 24px;
  /* line-height: 28px; */
  
  margin: 0;
}

/* registration section */

.registration .form-wrapper {
  margin-top: 40px;
  width: 396px;
  padding-bottom: 24px;
  padding-top: 10px;
  padding: 10px 20px 24px;
  background-color: #FFF;
  box-shadow: 1px 1px 17px #bebebe;
  border-radius: 5px;
}

.registration .form-wrapper form > .user_input {
  padding: 6px 0;
}

.registration .form-wrapper input {
  width: 100%;
  height: 45px;
  padding:14px 16px;
  color: #90949c;
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid rgb(207, 207, 207);
  line-height: 16px;
}

.registration .form-wrapper form .login {
  padding-top: 6px;
}

.registration .form-wrapper form .login button {
  width: 100%;
  height: 50px;
  border: none;
  font-weight: bold;
  background-color: #1877f2;
  color: #FFF;
  border-radius: 6px;
  font-size: 20px;
}

.registration .form-wrapper form .forgotten_pass {
  text-align: center;
  color: #1877f2;
  font-size: 15px;
}

.registration .form-wrapper form .forgotten_pass a {
  text-decoration: none;
}


.registration .form-wrapper form .separator >div {
  height: 1px;
  background-color: #dadde1;
  margin: 20px 0;
}

.registration .form-wrapper form .new_account {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.registration .form-wrapper form .new_account button {
  height: 49px;
  border: none;
  border-radius: 6px;
  color: #FFF;
  width: 200px;
  background-color: #42b72a;
  font-size: 16px;
  font-weight: bold;
}

.registration  .create_page {
  text-align: center;
  margin: 28px 0 0;
  font-size: 14px;
}

.registration .create_page a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* footer */

footer {
  background-color: #FFF;
  font-size: 11px;
}
footer .container {
  padding: 0;
  display: flex;
  justify-content: center;
}


footer .content-wrapper {
  padding-top: 20px;
}

footer .content {
  max-width: 980px;
}

footer .content-wrapper .content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

footer .content-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
  color: gray;
}

footer .content-wrapper ul li a {
  color: gray;
  text-decoration: none;
  line-height: 16px;
}


footer .content-wrapper .separator {
  height: 1px;
  background-color: #d7d7d7;
  margin: 10px 0 15px;
}

footer .content-wrapper .copy-right {
  margin: 20px 0;
  color: gray;
  text-decoration: none;
  line-height: 16px;
}

/* media queries */

@media (max-width: 870px) {

  .account .container {
    padding-bottom: 100px;
  }

  .account .content-wrapper .content {
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }

  .account .content-wrapper .content .facebook-about {
    width: auto;
  }
}